/* CircleTimeline.module.css */

.circleContainer {
  display: flex;
  height: 3em;
  position: relative;
  max-width: 80em;
  margin-left: 1em;
}

.circleItem {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  max-width: 6px;
  max-height: 6px;
  border-radius: 100%;
  /* font-size: 12px; */
}


.timelineLine {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #3498db;
}