.timeLine {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 3em;
  position: relative;
  max-width: 80em;
  margin-left: 1em;
}

.timeline::-webkit-scrollbar {
  width: 0; /* Hide scrollbar in WebKit/Blink */
}

.timeLineLinesContainer {
  padding-bottom: 10px;
}

.timeLineItem {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeLineNumber {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.1em;
  margin-left: 0.2em;
}

.timeLineLine {
  height: 100%;
  width: 1px;
  background-color: #ccc;
}

.timeLineLineActive {
  background-color: #084cc9;
  height: 10px;
}

.timeLineNumber {
  font-size: 10px;
  color: #666;
  /* margin-top: 1px; */
}

.timeLineNumberActive {
  color: #548bf4;
}