.tableRow {
  display: flex;
  /* flex-direction: row; */
  align-items: start;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f1f1f1f1;  
}

.timeLine {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 2em;
  border-bottom: 1px solid #ccc;
}

.timeLine::-webkit-scrollbar {
  width: 0;
}

.tableIcon {
  display: flex;
  align-items: start;
  justify-content: center;
  position: sticky;
  left: 0;
  z-index: 1; 
  min-height: 2.1em;
  background-color: #f1f1f1f1;
}

.timeLineLine {
  width: 1px;
  background-color: #ccc;
}

.timeLineLineActive {
  background-color: #084cc9;
}

.timeLineNumber {
  font-size: 8px;
  color: #666;
}

.timeLineNumberActive {
  color: #548bf4;
}